.site_contact {
  position: relative;
  background: url("../img/backgrounds/contact/blik.png") no-repeat left 31% top 22%,
  url("../img/backgrounds/contact/blik2.png") no-repeat left 66% top 5%,
  url("../img/backgrounds/contact/balon.png") no-repeat left 75% top 36%,
  linear-gradient(90deg, rgb(255, 133, 55) 0%, rgb(255, 91, 94) 100%);
  //background-size: auto, auto, auto, auto;


  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -178px;
    width: 100%;
    height: 180px;
    background: linear-gradient(90deg, rgb(255, 133, 55) 0%, rgb(255, 91, 94) 100%);
    mask-image: url('../img/backgrounds/contact/bable.png');
    mask-repeat: repeat-x;
    mask-position: bottom;
    mask-size: contain;
    z-index: 10;
  }


  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: #fff;
      padding-top: 81px;
    }

    .contact_social {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 122px;
      margin-bottom: 180px;

      .social_icon {
        margin: 0 37px;
        width: 73px;

      }
    }
  }
}