.site_home {
  background: url("../img/backgrounds/home/chmury.png") repeat-x center bottom -110px,
                    url("../img/backgrounds/home/miasto.png") repeat-x center bottom -35px,
                    url("../img/backgrounds/home/home.png") no-repeat center;
  background-size: auto, auto, cover;

  .container {
    padding-top: 146px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      justify-content: center;
      background: url("../img/backgrounds/home/m_home_chmury.png") no-repeat center bottom -20vw,
      url("../img/backgrounds/home/m_home_miasto.png") no-repeat center bottom -35px,
      url("../img/backgrounds/home/m_home.png") no-repeat center;
      background-size: contain, contain, cover;
    }

    .home_phone {
      margin-left: 48px;
      margin-bottom: 10px;
      margin-top: auto;

      @media (max-width: 900px) {
        display: none;
      }
    }

    .home_text {
      max-width: 60%;
      padding-right: 36px;
      padding-left: 6px;
      padding-bottom: 100px;
      margin-left: 20px ;
      color: #fff;

      @media (max-width: 900px) {
        max-width: 80%;
        text-align: center;
        padding-right: 0;
        margin-left: 0;
      }

      h3 {
        margin-top: 61px;
        font-family: 'font2', Fallback, sans-serif;
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 4.7rem;
        span {
          font-family: 'font3', Fallback, sans-serif;
        }
      }

      p {
        margin-top: 36px;
        font-family: 'font2', Fallback, sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        line-height:22px;
        text-align: justify;
        @media (max-width: 750px) {
          display: none;
        }
      }

      div {
        margin-top: 42px;
        display: flex;
        @media (max-width: 900px) {
          justify-content: center;
          padding-bottom: 100px;
        }

        a:not(:first-of-type) {
          margin-left: 8px;
        }
      }
    }
  }
}