.site_support {
  background:  url("../img/backgrounds/support/miasto copy.png") repeat-x center bottom -79px,
               url("../img/backgrounds/support/blik.png") no-repeat left 31% top 25%,
               url("../img/backgrounds/support/blik2.png") no-repeat left 64% top 21%,
               url("../img/backgrounds/support/tlo.png") repeat-x center top;
  padding-top: 155px;
  padding-bottom: 160px;

  @media (max-width: 990px) {
    background:  url("../img/backgrounds/support/m_supp_miasto.png") no-repeat center bottom -35px,
      url("../img/backgrounds/support/blik.png") no-repeat left 10% top 25%,
      url("../img/backgrounds/support/blik2.png") no-repeat right 13% top 28%,
      url("../img/backgrounds/support/m_supp.png") repeat-x center top;
    background-size: auto, auto, auto, cover;
  }

  .container {
    h2 {
      margin-top: 145px;
      padding: 0 10px;

      @media (max-width: 990px) {
          margin-top: calc(170px + 10vw);
      }
    }

    .support_wrapper {
      display: flex;

      @media (max-width: 990px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        //Przeniesiony text
        p {
          margin-top: 100px;
          font-family: 'font2', Fallback, sans-serif;
          font-weight: 200;
          font-size: 1.9rem;
          letter-spacing: 0.05rem;
          line-height:2.7rem;
          color: #FD6955;

          @media (max-width: 990px) {
            font-size: 2.6rem;
          }
        }

        span {
          font-family: 'font3', Fallback, sans-serif;
        }
      }

      .support_text {
        flex-shrink: 150;
        margin-top: 142px;
        padding-left: 50px;
        padding-right:75px;
        color: #FD6955;

        @media (max-width: 990px) {
          text-align: center;
          width: 80%;
          padding: 0 10px;
        }

        @media (max-width: 750px) {
          margin-top: 72px;
        }

        h3 {
          font-family: 'font3', Fallback, sans-serif;
          font-weight: 100;
          font-size: 3rem;

          @media (max-width: 750px) {
            font-size: 3.4rem;
          }
        }

        p {
          margin-top: 36px;
          font-family: 'font2', Fallback, sans-serif;
          font-weight: 200;
          font-size: 1.9rem;
          letter-spacing: 0.05rem;
          line-height:2.7rem;

          @media (max-width: 990px) {
            font-size: 2.6rem;
          }

          span {
            font-family: 'font3', Fallback, sans-serif;
          }

          &:last-child {
            margin-top: 30px;
          }
        }
      }

      .support_video {
        margin-top: 75px;
        margin-right: 61px;

        @media (max-width: 990px) {
          margin-right: 0;

          img {
            width: 95%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
