@font-face {
  font-family: 'font1';
  src:  url('../fonts/0138EU27.ttf') format('ttf'),
  url('../fonts/0138EU27.woff') format('woff');
}

@font-face {
  font-family: 'font2';
  src:  url('../fonts/0140EU27.ttf') format('ttf'),
  url('../fonts/0140EU27.woff') format('woff');
}

@font-face {
  font-family: 'font3';
  src:  url('../fonts/0144EU27.ttf') format('ttf'),
  url('../fonts/0144EU27.woff') format('woff');
}

@font-face {
  font-family: 'font4';
  src:  url('../fonts/0169EU27.ttf') format('ttf'),
  url('../fonts/0169EU27.woff') format('woff');
}

@font-face {
  font-family: 'font5';
  src:  url('../fonts/0300EU27.ttf') format('ttf'),
  url('../fonts/0300EU27.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(8px + 0.1vw);
}

body {
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: 'font3', Fallback, sans-serif;
  letter-spacing: 0.05rem;
  font-size: 4.7rem;
  text-align: center;
  color: #FD6955;
}

@import "menu";
@import "home";
@import "about";
@import "support";
@import "contact";
@import "footer";